# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Vercel/Netlify/Railway
.vercel/
.netlify/
dist/

# Editor folders
.vscode/
.idea/

# Production build (اگه بعداً اضافه شد)
build/